@model List<StellerAcunMedyaAkademiPortfolio.Models.TblSocialMedia>

<footer class="page-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <p>
                    Copyright
                    <script></script> &copy; @DateTime.Now.Year <a href="http://www.devcrud.com" target="_blank">Portfolyo Projesi</a>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="socials">
                    @foreach (var item in Model)
                    {
                        <a class="social-item" href="@item.Url"><i class="@item.IconUrl"></i></a>
                    }


                </div>
            </div>
        </div>
    </div>
</footer>
