
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Unvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Enes Çiçek</th>
        <th>Yazılım Mühendisi</th>
        <td><a></a>="#" class="btn btn-danger">#</td>
        <td>#</td>
    </tr>
    <tr>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
    </tr>
</table>