<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4 pt-5">
        <h1><a href="index.html" class="logo">Admin</a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="/Default/Index">Siteye Git</a>
            </li>
            <li>
                <a href="/Home/Index">Ana sayfa</a>
            </li>
            <li>
                <a href="/About/Index">Hakkımda</a>
            </li>

            <li>
                <a href="/Contact/Index">İletişim Bilgileri</a>
            </li>
            <li>
                <a href="/Feature/Index">Öne Çıkan Alanı</a>
            </li>
            <li>
                <a href="/Project/Index">Projelerim</a>
            </li>
            <li>
                <a href="/Message/Index">Gelen Mesajlar</a>
            </li>
            <li>
                <a href="/service/Index">Hizmetlerim</a>
            </li>
            <li>
                <a href="/Skill/Index">Yeteneklerim</a>
            </li>
            <li>
                <a href="/SocialMedia/Index">Sosyal Medya</a>
            </li>
            <li>
                <a href="/Testimonial/Index">Referanslar</a>
            </li>
        </ul>

        <div class="mb-5">
            <h3 class="h6">Mail bülteni</h3>
            <form action="#" class="colorlib-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <input type="text" class="form-control" placeholder="Email adresinizi giriniz">
                </div>
            </form>
        </div>

        

    </div>
</nav>
