
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni hakkımızda ekleme sayfası</h3>
<br />
<form method="post">
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Unvan</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" name="Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>

